@font-face {
  font-family: 'integral-cf';
  src: url('integralcf-regular.woff2') format('woff2'),
       url('integralcf-regular.woff') format('woff'),
       url('integralcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'integral-cf';
  src: url('integralcf-regularoblique.woff2') format('woff2'),
       url('integralcf-regularoblique.woff') format('woff'),
       url('integralcf-regularoblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}