@font-face {
  font-family: 'integral-cf';
  src: url('Integral-Regular.woff2') format('woff2'),
       url('Integral-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'integral-cf';
  src: url('Integral-Bold.woff2') format('woff2'),
       url('Integral-Bold.woff') format('woff');
  font-weight: 700;
}